.search {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0 0 0 / 0.1);
    position: relative;
    max-width: 400px;;
    border-radius: 15px;
    margin-right: 10px;
    overflow: hidden;

   
}

.search-icon {
    margin-right: 10px;
    left: 14px;
    opacity: .3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
}

.search-field {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 45px;
    margin-right: 35px;
}

.search-clear {
    right: 14px;
    opacity: .3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}